*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

header a {
    margin: 0px 10px;
    color: white;
    font-size: 20px;
}